

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="list-lead">
      <ion-icon name="map"></ion-icon>
      <ion-label>Mis Tutorias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="create-lead" *ngIf="userType == 'tutor'">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Crear tutorias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="create-lead" *ngIf="userType == 'student'">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Buscar tutorias</ion-label>
    </ion-tab-button>

    
  </ion-tab-bar>
</ion-tabs>
