%riple-button {
    width: 100%;
    height: 44px;
    border-radius: 40px;
    font-weight: bold;
}

.button-primary {
    color: white;
    background: #122846;
    @extend %riple-button;
}

.button-liner {
    background-color: transparent;
    border: 1px solid #122846;
    color: #122846;
    @extend %riple-button;
}
.button-delete {
    background-color: transparent;
    border: 1px solid rgb(255, 84, 61);
    color: rgb(255, 84, 61);
    @extend %riple-button;
}
button[disabled] {
    opacity: .4;
}