<ion-content class="content" [fullscreen]="true">

  <ion-row class="card-header ion-text-center">
    <ion-col>
      <h1 class="title">Bienvenido</h1>
      <p class="secodtitle">Aca puede ser las tutorias que tienes pendientes</p>
    </ion-col>
    <ion-icon name="ribbon-outline" slot="start"></ion-icon>
  </ion-row>
  <ion-row class="ion-justify-content-center" *ngFor="let item of list">
      <ion-card (click)="presentModal(item)">
        <ion-item>
          <ion-icon name="ribbon-outline" slot="start"></ion-icon>
          <ion-label>{{item.titulo}}</ion-label>
          <ion-button fill="outline" slot="end">Ver detalle</ion-button>
        </ion-item>
        <ion-card-content>
          <p><b>Fecha:</b>{{item.date}}</p>
          <p><b>Hora:</b>{{item.time}}</p>
          <p><b>Modalidad:</b>{{item.modalidad}}</p>
        </ion-card-content>
      </ion-card>

  </ion-row>
</ion-content>