<ion-content class="content" [fullscreen]="true">

  <ion-row class="card-header ion-text-center">
    <ion-col>
      <h1 class="title">Bienvenido</h1>
      <p class="secodtitle">Aca puede ser las tutorias que tienes pendientes</p>
    </ion-col>
  </ion-row>
  <ion-row *ngFor="let item of list">
      <ion-card >
        <ion-item>
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>{{item.titulo}}</ion-label>
          <ion-button fill="outline" slot="end">View</ion-button>
        </ion-item>

        <ion-card-content>
          This is content, without any paragraph or header tags,
          within an ion-card-content element.
        </ion-card-content>
      </ion-card>
  </ion-row>
</ion-content>